@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Revalia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html{
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #C7F5FF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  text-align: center;
}
.wrapper{
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 row-gap: 50px;
 justify-content: center;
align-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.cityInput{
  font-size: 20px;
  text-align: center;
  outline: 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
}

.form-btn{
  width: 50%;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

.weather-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  height: 600px;
  background: linear-gradient(180deg, #1BC3E8 0%, #CFF2FA 100%);
  border-radius: 27px;
}